{% extends "base.html" %}
{% block extrahead %}
  {{ super() }}
  <meta property="og:title" content="{{ config.site_name }}" />
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="https://wireops.dev/assets/images/og.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ config.site_name }}" />
  <meta name="twitter:description" content="{{ config.site_description }}" />
  <meta name="twitter:image" content="https://wireops.dev/assets/images/og.png" />
{% endblock %}
